<div class="search">
    <form class="form-inline">
        <a class="btn btn-flat btn-primary m_10_l_0" href="{:url('admin/Project/projectList')}">显示全部</a>
        <a class="btn btn-flat btn-success m_10 f_r" onclick="javascript:history.back(-1)"><i
                    class="fa fa-undo m-r-10"></i>返 回</a>
    </form>
</div>

<div class="row">
    <div class="col-sm-12 col-xs-12">
        <form id="commentForm">
            <?php if (!empty($data)) { ?>
                <input type="hidden" class="form-control" value="{$data['id']}" name="id">
            <?php } ?>
            <div class="box box-body">
                <div class="row dd_input_group">
                    <div class="form-group">
                        <label class="col-xs-4 col-sm-2 col-md-2 col-lg-1 control-label dd_input_l">项目分组ID</label>
                        <div class="col-xs-7 col-sm-6 col-md-4 col-lg-4">
                            <select name="project_group_id">
                                {foreach($groups as $key=>$v})}
                                <option value="{$key}" {if(isset($data['project_group_id']) && $data['project_group_id']==$key)} selected {/if}>{$v}</option>
                                {/foreach}
                            </select>
                        </div>
                        <div class="col-xs-1 col-sm-4 col-md-6 col-lg-6 dd_ts">*</div>
                    </div>
                </div>
                <div class="row dd_input_group">
                    <div class="form-group">
                        <label class="col-xs-4 col-sm-2 col-md-2 col-lg-1 control-label dd_input_l">项目名称</label>
                        <div class="col-xs-7 col-sm-6 col-md-4 col-lg-4">
                            <input type="text" name="name" class="form-control" placeholder="请输入项目名称"
                                   value="{$data['name']??''}">
                        </div>
                        <div class="col-xs-1 col-sm-4 col-md-6 col-lg-6 dd_ts">*</div>
                    </div>
                </div>
                <div class="row dd_input_group">
                    <div class="form-group">
                        <label class="col-xs-4 col-sm-2 col-md-2 col-lg-1 control-label dd_input_l">封面图</label>
                        <div class="col-xs-7 col-sm-6 col-md-4 col-lg-4">
                            <div id="img_preview1">
                                <?php if (!empty($data)){ ?>
                                    <img style="max-width: 580px;" src ="{$data['cover_img']}"/>
                                <?php } ?>
                            </div>
                            <input type="file" class="form-control" name="cover_img" id="img_url1" accept="image/gif,image/jpeg,image/jpg,image/png" onchange="selectFile(1)">
                        </div>
                        <div class="col-xs-1 col-sm-4 col-md-6 col-lg-6 dd_ts">*</div>
                    </div>
                </div>
		<div class="row dd_input_group">
                    <div class="form-group">
                        <label class="col-xs-4 col-sm-2 col-md-2 col-lg-1 control-label dd_input_l">内页详情图</label>
                        <div class="col-xs-7 col-sm-6 col-md-4 col-lg-4">
                            <div id="img_preview2">
                                <?php if (!empty($data)){ ?>
                                    <img style="max-width: 580px;" src ="{$data['details_img']}"/>
                                <?php } ?>
                            </div>
                            <input type="file" class="form-control" name="details_img" id="img_url2" accept="image/gif,image/jpeg,image/jpg,image/png" onchange="selectFile(2)">
                        </div>
                        <div class="col-xs-1 col-sm-4 col-md-6 col-lg-6 dd_ts">*</div>
                    </div>
                </div>
                <div class="row dd_input_group">
                    <div class="form-group">
                        <label class="col-xs-4 col-sm-2 col-md-2 col-lg-1 control-label dd_input_l">单份金额</label>
                        <div class="col-xs-7 col-sm-6 col-md-4 col-lg-4">
                            <input type="text" name="single_amount" class="form-control" placeholder="请输入单份投资金额"
                                   value="{$data['single_amount']??''}">
                        </div>
                        <div class="col-xs-1 col-sm-4 col-md-6 col-lg-6 dd_ts">*</div>
                    </div>
                </div>

                <div class="row dd_input_group">
                    <div class="form-group">
                        <label class="col-xs-4 col-sm-2 col-md-2 col-lg-1 control-label dd_input_l">简介</label>
                        <div class="col-xs-7 col-sm-6 col-md-4 col-lg-4">
                            <textarea name="intro" class="form-control" placeholder="简介"
                                   >{$data['intro']??''}</textarea>
                        </div>
                        <div class="col-xs-1 col-sm-4 col-md-6 col-lg-6 dd_ts">*</div>
                    </div>
                </div>
<!--                 <div class="row dd_input_group">
                    <div class="form-group">
                        <label class="col-xs-4 col-sm-2 col-md-2 col-lg-1 control-label dd_input_l">单份积分</label>
                        <div class="col-xs-7 col-sm-6 col-md-4 col-lg-4">
                            <input type="text" name="single_integral" class="form-control" placeholder="请输入单份积分"
                                   value="{$data['single_integral']??''}">
                        </div>
                    </div>
                </div> -->
<!--                 <div class="row dd_input_group">
                    <div class="form-group">
                        <label class="col-xs-4 col-sm-2 col-md-2 col-lg-1 control-label dd_input_l">总份数</label>
                        <div class="col-xs-7 col-sm-6 col-md-4 col-lg-4">
                            <input type="text" name="total_num" class="form-control" placeholder="请输入总份数"
                                   value="{$data['total_num']??''}">
                        </div>
                        <div class="col-xs-1 col-sm-4 col-md-6 col-lg-6 dd_ts">*</div>
                    </div>
                </div> -->
<!--                 <div class="row dd_input_group">
                    <div class="form-group">
                        <label class="col-xs-4 col-sm-2 col-md-2 col-lg-1 control-label dd_input_l">日分红金额</label>
                        <div class="col-xs-7 col-sm-6 col-md-4 col-lg-4">
                            <input type="text" name="daily_bonus_ratio" class="form-control" placeholder="日分红金额"
                                   value="{$data['daily_bonus_ratio']??''}">
                        </div>
                        <div class="col-xs-1 col-sm-4 col-md-6 col-lg-6 dd_ts">*</div>
                    </div>
                </div> -->
<!--                 <div class="row dd_input_group">
                    <div class="form-group">
                        <label class="col-xs-4 col-sm-2 col-md-2 col-lg-1 control-label dd_input_l">分红周期(时间)</label>
                        <div class="col-xs-7 col-sm-6 col-md-4 col-lg-4">
                            <input type="text" name="dividend_cycle" class="form-control" placeholder="请输入分红周期(时间)"
                                   value="{$data['dividend_cycle']??''}">
                        </div>
                        <div class="col-xs-1 col-sm-4 col-md-6 col-lg-6 dd_ts">*</div>
                    </div>
                </div> -->
                <div class="row dd_input_group">
                    <div class="form-group">
                        <label class="col-xs-4 col-sm-2 col-md-2 col-lg-1 control-label dd_input_l">分红天数(天)</label>
                        <div class="col-xs-7 col-sm-6 col-md-4 col-lg-4">
                            <input type="text" name="period" class="form-control" placeholder="分红天数"
                                   value="{$data['period']??''}">
                        </div>
                        <div class="col-xs-1 col-sm-4 col-md-6 col-lg-6 dd_ts">*</div>
                    </div>
                </div>
                <div class="row dd_input_group">
                    <div class="form-group">
                        <label class="col-xs-4 col-sm-2 col-md-2 col-lg-1 control-label dd_input_l">总收益金额</label>
                        <div class="col-xs-7 col-sm-6 col-md-4 col-lg-4">
                            <input type="text" name="sum_amount" class="form-control" placeholder="请输入总收益金额"
                                   value="{$data['sum_amount']??''}">
                        </div>
                    </div>
                </div>
                <div class="row dd_input_group">
                    <div class="form-group">
                        <label class="col-xs-4 col-sm-2 col-md-2 col-lg-1 control-label dd_input_l">国务院津贴</label>
                        <div class="col-xs-7 col-sm-6 col-md-4 col-lg-4">
                            <input type="text" name="single_gift_digital_yuan" class="form-control"
                                   placeholder="赠送国务院津贴" value="{$data['single_gift_digital_yuan']??''}">
                        </div>
                        <div class="col-xs-1 col-sm-4 col-md-6 col-lg-6 dd_ts">每日*</div>
                    </div>
                </div>
<!--                 <div class="row dd_input_group">
                    <div class="form-group">
                        <label class="col-xs-4 col-sm-2 col-md-2 col-lg-1 control-label dd_input_l">虚拟购买份数</label>
                        <div class="col-xs-7 col-sm-6 col-md-4 col-lg-4">
                            <input type="text" name="sham_buy_num" class="form-control"
                                   placeholder="请输入虚拟购买份数" value="{$data['sham_buy_num']??''}">
                        </div>
                    </div>
                </div> -->
                <div class="row dd_input_group">
                    <div class="form-group">
                        <label class="col-xs-4 col-sm-2 col-md-2 col-lg-1 control-label dd_input_l">是否推荐</label>
                        <div class="col-xs-7 col-sm-6 col-md-4 col-lg-4">
                            <div class="dd_radio_lable_left">
                                <label class="dd_radio_lable">
                                    <input <?php if (isset($data['is_recommend']) && $data['is_recommend'] == '0') { ?> checked <?php } ?>
                                            type="radio" name="is_recommend" value="0" class="dd_radio"><span>否</span>
                                </label>
                                <label class="dd_radio_lable">
                                    <input <?php if (isset($data['is_recommend']) && $data['is_recommend'] == '1') { ?> checked <?php } ?>
                                            type="radio" name="is_recommend" value="1" class="dd_radio"><span>是</span>
                                </label>
                            </div>
                        </div>
                        <div class="col-xs-1 col-sm-4 col-md-6 col-lg-6 dd_ts"> *</div>
                    </div>
                </div>
                
<!--                 <div class="row dd_input_group">
                    <div class="form-group">
                        <label class="col-xs-4 col-sm-2 col-md-2 col-lg-1 control-label dd_input_l">赠送项目</label>
                        <div class="col-xs-7 col-sm-6 col-md-4 col-lg-4">
                            <div class="dd_radio_lable_left">
                                <?php foreach($give as $v){?>
                                <label class="dd_radio_lable">
                                    <span>id:{$v['id']} 名字:{$v['name']} 价格:{$v['single_amount']}</span>
                                        <input type="text" name="give[{$v['id']}]" placeholder="赠送份数,不写为不赠送" value="<?php echo empty($data['give'][$v['id']]) ? '' : $data['give'][$v['id']]; ?>"> | 
                                </label>
                                <?php } ?>
                            </div>
                        </div>
                        <div class="col-xs-1 col-sm-4 col-md-6 col-lg-6 dd_ts"> *</div>
                    </div>
                </div> -->

                <div class="row dd_input_group">
                    <div class="form-group">
                        <div class="col-xs-11 col-sm-8 col-md-6 col-lg-5">
                            <label class="text-lable">支付方式</label>
                            <input type="hidden" name="support_pay_methods" id="support_pay_methods">
                            <select id="select_support_pay_methods" class="form-control select2" multiple="multiple" data-placeholder="请选择支付方式">
                                <?php foreach (config('map.order.pay_method_map') as $k => $v){ ?>
                                    <option value="{$k}">{$v}</option>
                                <?php } ?>
                            </select>
                        </div>
                        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 dd_ts" style="margin-left: -15px;">*</div>
                    </div>
                </div>
                <div class="row dd_input_group">
                    <div class="form-group">
                        <label class="col-xs-4 col-sm-2 col-md-2 col-lg-1 control-label dd_input_l">排序号</label>
                        <div class="col-xs-7 col-sm-6 col-md-4 col-lg-4">
                            <input type="text" name="sort" class="form-control" placeholder="请输入排序号，从小到大排序"
                                   value="{$data['sort']??''}">
                        </div>
                    </div>
                </div>
<!--                 <div class="row dd_input_group">
                    <div class="form-group">
                        <label class="col-xs-4 col-sm-2 col-md-2 col-lg-1 control-label dd_input_l">奖励倍数</label>
                        <div class="col-xs-7 col-sm-6 col-md-4 col-lg-4">
                            <input type="text" name="bonus_multiple" class="form-control" placeholder="请输入奖励倍数，不能小于0"
                                   value="{$data['bonus_multiple']??''}">
                        </div>
                    </div>
                </div> -->
                <div class="row dd_input_group">
                    <div class="form-group">
                        <div class="col-xs-12 col-sm-8 col-md-6 col-lg-5 text-center">
                            <button type="button" class="btn btn-flat btn-primary" onclick="sub()">提 交</button>
                            <button type="button" class="btn btn-flat btn-default"
                                    onclick="javascript:history.back(-1)">返 回
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<link rel="stylesheet" href="__ADMIN__/bower_components/select2/dist/css/select2.min.css">
<script src="__ADMIN__/bower_components/select2/dist/js/select2.min.js"></script>
<script>
    $(function () {
        $(".select2").select2();

        <?php if (!empty($data['support_pay_methods'])) { ?>
        $("#select_support_pay_methods").val({:json_encode($data['support_pay_methods'])}).trigger("change");
        <?php } ?>

        var url = "{:url('admin/Project/projectList')}";
        $('a[href="' + url + '"]').parents('.menu-li').addClass('active');
        var headerText = $('a[href="' + url + '"]').children('span').text();
        var is_add = "<?php echo !empty($data) ? '0' : '1';?>";
        var headerTitle = is_add == "1" ? headerText + '-添加' : headerText + '-编辑';
        $('#content-header-title').text(headerTitle);
    });

    function selectFile(i)
    {
        $('#img_preview'+i).html('');
        var files = document.getElementById('img_url'+i).files;
        if(files.length == 0){
            return;
        }
        var file = files[0]; //把上传的图片显示出来
        var reader = new FileReader();
        reader.readAsBinaryString(file);
        reader.onload = function(){
            var result = document.getElementById('img_preview'+i);
            var src = "data:" + file.type + ";base64," + window.btoa(this.result);
            result.innerHTML = '<img style="max-width: 580px;" src ="'+src+'"/>';
        }
    }

    function sub()
    {
        var support_pay_methods = $("#select_support_pay_methods").val();
        $('#support_pay_methods').val(support_pay_methods);

        var formData = new FormData($('#commentForm')[0]);
        $.ajax({
            url: '<?php echo !empty($data) ? url("admin/Project/editProject") : url("admin/Project/addProject");?>',
            type: 'POST',
            data: formData,
            async: false,
            cache: false,
            contentType: false,
            processData: false,
            success: function (res) {
                if (res.code == '200'){
                    window.location.href = document.referrer;
                }
                else {
                    layer.msg(res.msg, {icon: 5, time: 3000});
                }
            },
            error: function (res) {
                layer.msg(res.msg, {icon: 5, time: 3000});
            }
        });
    }
</script>
