/.idea
/.vscode
*.log
.env
.DS_Store
/api_zuixinh.tar.gz
/runtime
/public/.user.ini
/*.sql
/composer.lock.bak
/.well-known/acme-challenge/h1PVSottpXWnP_wkzW-p34bdRv6BCTB2eWN5pxnt3kc
/.well-known/acme-challenge/lloeZVNh4mSyuu9D5tmyT8mxlRDZ-MTR7Jdtw1rQzSo
/app/common/command/CheckBonus_old2.php
/public/chatlink.html
/test/TestCheckBonus.php
/vendor/bin/.phpunit.result.cache
/config/cache.php
