

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <div class="box-body table-responsive no-padding">
                    <table class="table table-bordered table-hover table-striped">
                        <tbody>
                        <tr>
                            <th>ID</th>
                            <th>奖品名</th>
                            <th>中奖率</th>
                            <th>操作</th>
                        </tr>
                        <?php foreach ($data as $k => $v) { ?>
                            <tr>
                                <td>{$v['id']}</td>
                                <td>{$v['name']}</td>
                                <td>{$v['rate'] * 100} %</td>
                                <td>
                                    <a {:auth_show_judge('LevelConfig/editLevelConfig')} class="btn btn-flat btn-info
                                    btn-xs" href="{:url('admin/GoldEgg/prizeSetting', ['id' => $v['id']])}"><i
                                            class="fa fa-edit"></i> 编辑</a>
                                </td>
                            </tr>
                        <?php } ?>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
