<div class="row">
    <?php $map1 = ['bg-aqua', 'bg-green', 'bg-yellow', 'bg-red']; $map2 = ['ion-bag', 'ion-stats-bars', 'ion-person-add', 'ion-pie-graph']; foreach ($data as $k => $v) { $i = $k%4;  ?>

        <div class="col-lg-3 col-xs-6">
            <div class="small-box {$map1[$i]}">
                <div class="inner">
                    <h3>{$v['value']}</h3>
                    <p>{$v['title']}</p>
                </div>
                <div class="icon">
                    <i class="ion {$map2[$i]}"></i>
                </div>
                <?php if (!empty($v['url'])) { ?>
                    <a href="{$v['url']}" class="small-box-footer" style="height: 28px;">详情 <i class="fa fa-arrow-circle-right"></i></a>
                <?php } else { ?>
                    <div style="height: 28px;"></div>
                <?php } ?>
            </div>
        </div>
    <?php } ?>
</div>

