<div class="search">
    <form class="form-inline">
        <input type="text" value="{$req['order_id']??''}" name="order_id" placeholder="搜索订单ID" class="form-control">
        <input type="text" value="{$req['user']??''}" name="user" placeholder="搜索用户ID/手机号" class="form-control">
        <input type="text" value="{$req['order_sn']??''}" name="order_sn" placeholder="搜索订单号" class="form-control">
        <select name="status" class="form-control">
            <option value="">搜索订单状态</option>
            <?php foreach (config('map.order')['status_map'] as $k => $v) { ?>
                <option <?php if (isset($req['status']) && $req['status'] == $k) {
                    echo 'selected = "selected"';
                } ?> value="{$k}">{$v}
                </option>
            <?php } ?>
        </select>
        <input type="text" value="{$req['project_name']??''}" name="project_name" placeholder="搜索项目名称"
               class="form-control">
        <select name="pay_method" class="form-control">
            <option value="">搜索支付方式</option>
            <?php foreach (config('map.order')['pay_method_map'] as $k => $v) { ?>
                <option <?php if (isset($req['pay_method']) && $req['pay_method'] == $k) {
                    echo 'selected = "selected"';
                } ?> value="{$k}">{$v}
                </option>
            <?php } ?>
        </select>
        <select name="channel" class="form-control">
            <option value="">搜索支付渠道</option>
            <?php foreach (config('map.payment_config')['channel_map'] as $k => $v) { if ($k > 0) { ?>
                <option <?php if (isset($req['channel']) && $req['channel'] == $k) {
                    echo 'selected = "selected"';
                } ?> value="{$k}">{$v}
                </option>
            <?php } } ?>
        </select>
        <input type="text" value="{$req['mark']??''}" name="mark" placeholder="搜索渠道标识"
               class="form-control">
        <input class="btn btn-flat btn-primary m_10" type="submit" value="搜索">
    </form>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <div class="box-body table-responsive no-padding">
                    <table class="table table-bordered table-hover table-striped">
                        <tbody>
                        <tr>
                            <th>ID</th>
                            <th>用户</th>
                            <th>订单号</th>
                            <th>订单状态</th>
                            <th>支付状态</th>
                            <th>项目名称</th>
                            <th>购买份数</th>
                            <th>购买金额</th>
                            <th>购买积分</th>
                            <th>支付渠道</th>
                            <th>收款卡信息</th>
                            <th>支付凭证</th>
                            <th>日分红金额</th>
                            <th>周期</th>
                            <th>赠送股权</th>
                            <th>赠送期权</th>
<!--                             <th>股权兑换状态</th>
                            <th>期权兑换状态</th>
                            <th>股权兑换单价</th>
                            <th>股权证书编号</th>
                            <th>股权兑换时间</th>
                            <th>期权兑换时间</th>
                            <th>收益结束时间</th>
                            <th>出售时间</th> -->
                            <th>支付时间</th>
                            <th>创建时间</th>
                            <th>操作</th>
                        </tr>
                        <?php foreach ($data as $k => $v) { ?>
                            <tr>
                                <td>{$v['id']}</td>
                                <td>{$v['user']['phone']??''}</td>
                                <td>{$v['order_sn']}</td>
                                <td>{$v['status_text']}</td>
                                <td>{$v['pay_status_text']}</td>
                                <td>{$v['project_name']}</td>
                                <td>{$v['buy_num']}</td>
                                <td>{$v['buy_amount']}</td>
                                <td>{$v['buy_integral']}</td>
                                <td>{$v['pay_method_text']}<?php if (!empty($v['payment']['channel_text'])) { ?>（{$v['payment']['channel_text']??''}-{$v['payment']['mark']??''}-{$v['payment']['agent_name']??''}）<?php } ?></td>
                                <td><?php if ($v['pay_method'] == 6) { ?> 银行：{$v['payment']['card_info']['bank_name']??''}<br>卡号：{$v['payment']['card_info']['card_number']??''}<br>分行：{$v['payment']['card_info']['bank_branch']??''}<br>持卡人：{$v['payment']['card_info']['realname']??''} <?php } ?></td>
                                <td><?php if (!empty($v['payment']['pay_voucher_img_url'])) { ?><img src="{$v['payment']['pay_voucher_img_url']}" onclick="seePhoto('{$v["payment"]["pay_voucher_img_url"]}')" style="max-width: 80px;"> <?php } ?></td>
                                <td>{$v['daily_bonus']}</td>
                                <td>{$v['period']}</td>
                                <td>{$v['equity']}</td>
                                <td>{$v['digital_yuan']}</td>
<!--                                 <td>{$v['equity_status_text']}</td>
                                <td>{$v['digital_yuan_status_text']}</td>
                                <td>{$v['equity_exchange_price']}</td>
                                <td>{$v['equity_certificate_no']}</td>
                                <td>{$v['exchange_equity_date']}</td>
                                <td>{$v['exchange_yuan_date']}</td>
                                <td>{$v['end_date']}</td> 
                                <td>{$v['sale_date']}</td>-->
                                <td>{$v['pay_date']}</td>
                                <td>{$v['created_at']}</td>
                                <td>
                                    <?php if ($v['status'] == 1 && in_array($v['pay_method'], [2,3,4,6])) { ?>
                                        <button {:auth_show_judge('Order/auditOrder')} class="btn btn-flat btn-success btn-xs" onclick="auditOrder({$v['id']}, 2)">确认支付成功</button>
                                    <?php } ?>
                                </td>
                            </tr>
                        <?php } ?>
                        <tr>
                            <td><strong>总计：</strong></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><strong>{$total_buy_amount}</strong></td>
                            <td><strong>{$total_buy_integral}</strong></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><strong>{$total_gift_equity}</strong></td>
                            <td><strong>{$total_gift_digital_yuan}</strong></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div style="text-align:center;font-size: 14px;"><?php echo $data->render(); ?></div>
            </div>
        </div>
    </div>
</div>

<script>
    function auditOrder(id, status)
    {
        layer.confirm('确定操作吗？', {icon: 3, title: '提示'}, function (index) {
            layer.close(index);
            $.post('{:url("admin/Order/auditOrder")}', {id: id, status: status}, function (res) {
                if (res.code == '200') {
                    location.reload(true);
                } else {
                    layer.msg(res.msg, {icon: 5, time: 3000});
                }
            });
        });
    }
</script>
