<div class="search">
    <form class="form-inline">
        <a class="btn btn-flat btn-primary m_10_l_0" href="{:url('admin/User/userList')}">显示全部</a>
        <a class="btn btn-flat btn-success m_10 f_r" onclick="javascript:history.back(-1)"><i
                    class="fa fa-undo m-r-10"></i>返 回</a>
    </form>
</div>

<div class="row">
    <div class="col-sm-12 col-xs-12">
        <form id="commentForm">
            <div class="box box-body">
                <div class="row dd_input_group">
                    <div class="form-group">
                        <input name="user_id" type="hidden" value="{$req['user_id']}">
                        <label class="col-xs-4 col-sm-2 col-md-2 col-lg-1 control-label dd_input_l">金额</label>
                        <div class="col-xs-7 col-sm-6 col-md-4 col-lg-4">
                            <input type="number" name="money" class="form-control" placeholder="请输入金额"
                                   value="">
                        </div>
                        <div class="col-xs-1 col-sm-4 col-md-6 col-lg-6 dd_ts">*</div>
                    </div>
                </div>
                <div class="row dd_input_group">
                    <div class="form-group">
                        <label class="col-xs-4 col-sm-2 col-md-2 col-lg-1 control-label dd_input_l">金额</label>
                        <div class="col-xs-7 col-sm-6 col-md-4 col-lg-4">
                            <select name="type">
                                <option value="1">可用余额</option>
                                <option value="2">可提现余额</option>
                                <!-- <option value="2">生活补助</option>
                                <option value="3">数字人民币</option> -->
                            </select>
                        </div>
                        <div class="col-xs-1 col-sm-4 col-md-6 col-lg-6 dd_ts">*</div>
                    </div>
                </div> 
                <div class="row dd_input_group">
                    <div class="form-group">
                        <label class="col-xs-4 col-sm-2 col-md-2 col-lg-1 control-label dd_input_l">备注</label>
                        <div class="col-xs-7 col-sm-6 col-md-4 col-lg-4">
                            <input type="text" name="remark" class="form-control" placeholder="请输入备注"
                                   value="">
                        </div>
                    </div>
                </div>
                <div class="row dd_input_group">
                    <div class="form-group">
                        <div class="col-xs-12 col-sm-8 col-md-6 col-lg-5 text-center">
                            <button type="button" class="btn btn-flat btn-primary" onclick="sub()">提 交</button>
                            <button type="button" class="btn btn-flat btn-default"
                                    onclick="javascript:history.back(-1)">返 回
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    $(function () {
        var url = "{:url('admin/User/userList')}";
        $('a[href="' + url + '"]').parents('.menu-li').addClass('active');
        var headerText = $('a[href="' + url + '"]').children('span').text();

        var typeText = "{:config('map.user_balance_log.type_map')[$req['type']]}";
        var headerTitle = headerText + '-' +typeText;
        $('#content-header-title').text(headerTitle);
    });

    function sub()
    {
        var subUrl = "<?php $map = [15 => url('admin/User/addBalance'), 16 => url('admin/User/deductBalance')]; echo $map[$req['type']]; ?>";
        $.post(subUrl, $('#commentForm').serialize(), function (res) {
            if (res.code == '200') {
                window.location.href = document.referrer;
            } else {
                layer.msg(res.message, {icon: 5, time: 3000});
            }
        });
    }
</script>
