<div class="search">
    <form class="form-inline">
        <input type="text" value="{$req['user_id']??''}" name="user_id" placeholder="搜索用户ID" class="form-control">
        <input type="text" value="{$req['up_user']??''}" name="up_user" placeholder="搜索上级用户ID/手机号"
               class="form-control">
        <input type="text" value="{$req['phone']??''}" name="phone" placeholder="搜索手机号" class="form-control">
        <input type="text" value="{$req['realname']??''}" name="realname" placeholder="搜索实名姓名" class="form-control">
        <select name="level" class="form-control">
            <option value="">搜索等级</option>
            <?php foreach (config('map.user')['level_map'] as $k => $v) { ?>
                <option <?php if (isset($req['level']) && $req['level'] !== '' && $req['level'] == $k) {
                    echo 'selected = "selected"';
                } ?> value="{$k}">{$v}
                </option>
            <?php } ?>
        </select>
        <select name="is_active" class="form-control">
            <option value="">搜索是否激活</option>
            <option <?php if (isset($req['is_active']) && $req['is_active'] !== '' && $req['is_active'] == 0) {
                echo 'selected = "selected"';
            } ?> value="0">未激活
            </option>
            <option <?php if (isset($req['is_active']) && $req['is_active'] !== '' && $req['is_active'] == 1) {
                echo 'selected = "selected"';
            } ?> value="1">已激活
            </option>
        </select>
        <input class="btn btn-flat btn-primary m_10" type="submit" value="搜索">
    </form>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <div class="box-body table-responsive no-padding">
                    <table class="table table-bordered table-hover table-striped">
                        <tbody>
                        <tr>
                            <th>ID</th>
                            <th>上级会员</th>
                            <th>手机号</th>
                            <th>余额</th>
                            <th>津贴</th>
                            <th>团队奖励</th>
                            <th>收益</th>
                            <th>邀请码</th>
                            <th>实名</th>
                            <!-- <th>身份证</th>
                            <th>等级</th> -->
                            <th>激活</th>
                            <th>激活时间</th>
                            <th>直属下级实名</th>
                            <th>总投资</th>
                            <th>时间</th>
                            <th>状态</th>
                            <th>首码</th>
                            <th>操作</th>
                        </tr>
                        <?php foreach ($data as $k => $v) { ?>
                            <tr>
                                <td>{$v['id']}</td>
                                <td>{$v['upUser']['phone']??''}</td>
                                <td>{$v['phone']}</td>
                                <td>{$v['balance']}</td>
                                <td>{$v['digital_yuan_amount']}</td>
                                <td>{$v['team_bonus_balance']}</td>
                                <td>{$v['income_balance']}</td>
                                <td>{$v['invite_code']}</td>
                                <td>{$v['realname']}</td>
<!--                                 <td>{$v['ic_number']}</td>
                                <td>{$v['level_text']}</td>
 -->                                <td>{$v['is_active_text']}</td>
                                <td>{$v['active_date']}</td>
                                <td><a href="{:url('admin/User/userList', ['up_user' => $v['id'], 'is_realname' => 1])}">{$v['real_sub_user_num']}</a></td>
                                <td>{$v['invest_amount']}</td>
                                <td>{$v['created_at']}</td>
                                <td>
                                    <div class="switch">
                                        <div class="onoffswitch">
                                            <input type="checkbox" <?php echo $v['status'] == 1 ? 'checked' : ''; ?>
                                                   class="onoffswitch-checkbox" id="status{$v['id']}">
                                            <label class="onoffswitch-label" for="status{$v['id']}"
                                                   onclick="changeUser({$v['id']}, 'status')">
                                                <span class="onoffswitch-inner"></span>
                                                <span class="onoffswitch-switch"></span>
                                            </label>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="switch">
                                        <div class="onoffswitch">
                                            <input type="checkbox" <?php echo $v['is_agent'] == 1 ? 'checked' : ''; ?>
                                                   class="onoffswitch-checkbox" id="is_agent{$v['id']}">
                                            <label class="onoffswitch-label" for="is_agent{$v['id']}"
                                                   onclick="changeUser({$v['id']}, 'is_agent')">
                                                <span class="onoffswitch-inner"></span>
                                                <span class="onoffswitch-switch"></span>
                                            </label>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <a {:auth_show_judge('User/editUser')} class="btn btn-flat btn-xs" href="{:url('admin/User/showUser', ['id' => $v['id']])}">编辑用户</a>
                                    <a {:auth_show_judge('User/addBalance')} class="btn btn-flat btn-xs" href="{:url('admin/User/showChangeBalance', ['user_id' => $v['id'], 'type' => 15])}">手动入金</a>
                                    <a {:auth_show_judge('User/batchBalance')} class="btn btn-flat btn-xs" href="{:url('admin/User/batchShowBalance', ['user_id' => $v['id'], 'type' => 15])}">批量入金</a>
                                    <!-- <a {:auth_show_judge('User/deductBalance')} class="btn btn-flat btn-xs" href="{:url('admin/User/showChangeBalance', ['user_id' => $v['id'], 'type' => 16])}">手动出金</a> -->
                                    <a {:auth_show_judge('User/userTeamList')} class="btn btn-flat btn-xs" href="{:url('admin/User/userTeamList', ['user_id' => $v['id']])}">查看团队人数</a>
                                    <a {:auth_show_judge('UserDelivery/userDeliveryList')} class="btn btn-flat btn-xs" href="{:url('admin/UserDelivery/userDeliveryList', ['user_id' => $v['id']])}">查看收货地址</a>
                                    <a {:auth_show_judge('PayAccount/payAccountList')} class="btn btn-flat btn-xs" href="{:url('admin/PayAccount/payAccountList', ['user_id' => $v['id']])}">查看收款配置</a>
                                    <a {:auth_show_judge('User/editPhone')} class="btn btn-flat btn-xs" href="{:url('admin/User/editPhone', ['user_id' => $v['id']])}">修改手机号</a>

                                </td>
                            </tr>
                        <?php } ?>
                        </tbody>
                    </table>
                </div>
                <div style="text-align:center;font-size: 14px;"><?php echo $data->render(); ?></div>
            </div>
        </div>
    </div>
</div>

<script>
    function changeUser(id, field)
    {
        var value = 0;
        if ($('#' + field + id).is(':checked')) {
            value = 0;
        } else {
            value = 1;
        }

        //确认框
        layer.confirm('确定操作吗', {icon: 3, title: '提示'}, function (index) {
            layer.close(index);
            $.post('{:url("admin/User/changeUser")}', {"id": id, "value": value, "field": field}, function (res) {
                if (res.code != 200) {
                    if (value == 1) {
                        $('#' + field + id).prop('checked', false);
                    } else {
                        $('#' + field + id).prop('checked', true);
                    }
                    layer.msg(res.msg, {icon: 5, time: 2500, offset: '80px'});
                }
            });
        }, function (index2) {
            if (value == 1) {
                $('#' + field + id).prop('checked', false);
            } else {
                $('#' + field + id).prop('checked', true);
            }
        });
    }
</script>
<style>
    th{
        font-size: 14px;
    }
</style>
